
@{
    ViewBag.Title = "İndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SqlConnection cn = new SqlConnection();

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimpleBlog.Posts Controller -> Index action   Welcome</title>
</head>
<body>
    <h1>Welcome SimpleBlog </h1>
</body>
</html>
